<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>alpha</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>El valor `alpha` de una imagen o figura es una propiedad que determina su transparencia. Un valor `alpha` de 0.0 corresponde a la transparencia total (es decir, es invisible) y el valor de 1.0 indica opacidad total (visible). Los valores intermedios te permitirán ver a través de la imagen o figura.</string>
				<key>Title</key>
				<string>Alpha</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un valor de entrada que se pasa a una función para personalizar su comportamiento. Por ejemplo, en la función `move(distance: 3)`, `3` es un argumento que especifica cuántos espacios moverse.</string>
				<key>Title</key>
				<string>Argumento</string>
			</dict>
		</dict>
		<key>calibrate</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Conectar</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Tu Skoog se calibra automáticamente, pero algunas veces necesita recordar cómo se siente que no lo toquen.
Si tu Skoog emite sonidos cuando no estás presionando botones, **simplemente toca el círculo o gráfico de Skoog en la visualización en vivo para calibrarlo**.</string>
				<key>Title</key>
				<string>Calibrar</string>
			</dict>
		</dict>
		<key>connect</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Conectar</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>![Button Image?](PressButton.png)
1. Busca el botón pequeño que está en la base de tu Skoog y presiónalo una vez para encenderlo. Se iluminará la luz verde.
2. Presiona el botón otra vez para activar el Bluetooth. La luz azul comenzará a parpadear.
3. Coloca tu Skoog en una superficie plana.
4. Busca tu Skoog en la lista y selecciónalo para enlazarlo. **No toques tu Skoog durante este proceso.**
5. Aparecerá un ícono de Skoog en la parte superior derecha de la pantalla. ¡Ya está listo!

**Nota:** asegúrate de cerrar la app Skoog antes de conectarte al campo de juegos.</string>
				<key>Title</key>
				<string>Cómo conectar tu Skoog</string>
			</dict>
		</dict>
		<key>eventHandler</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page2_HandlingSkoog.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Usar tu Skoog</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un controlador de eventos es una función que controla entradas (eventos) que recibe un programa.</string>
				<key>Title</key>
				<string>Controlador de eventos</string>
			</dict>
		</dict>
		<key>key</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Cada canción tiene una clave que define el conjunto de notas que sonarán bien en relación con la música.</string>
				<key>Title</key>
				<string>Clave</string>
			</dict>
		</dict>
		<key>midiNumber</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Tocando las notas correctas</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un número MIDI es un número entre 0 y 127 que corresponde a una [nota musical](glossary://note), como se muestra en la gráfica de abajo. El número MIDI 60 corresponde a Do (que se muestra en gris).
![MIDInote Image?](midiNotes.png)</string>
				<key>Title</key>
				<string>Número MIDI</string>
			</dict>
		</dict>
		<key>note</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Tocando las notas correctas</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Una nota musical es un sonido que tiene un tono reconocible. Las notas en el sistema anglosajón son C, C♯, D, E♭, E, F, F♯, G, G♯, A, B♭, B, (que son Do, Do♯, Re, Mi♭, Fa, Fa♯, Sol, Sol♯, La, Si♭, Si, respectivamente) como se muestran en el diagrama de abajo. ![keyboard Image?](keyboard.png)</string>
				<key>Title</key>
				<string>Nota musical</string>
			</dict>
		</dict>
		<key>octave</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>El intervalo entre un tono musical y otro que tenga la mitad o el doble de su frecuencia. Dos notas separadas por una octava están separadas por 12 números MIDI y tienen el mismo nombre de nota. Por ejemplo, La4 es una octava mayor que La3 y una menor que La5.</string>
				<key>Title</key>
				<string>Octava</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>El nombre de un valor de entrada de una función, que se usa en la definición de la función. Por ejemplo, en la función `move(distance: Int)`, `distance` es un parámetro que toma un valor del tipo `Int` (entero).</string>
				<key>Title</key>
				<string>Parámetro</string>
			</dict>
		</dict>
		<key>scale</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un conjunto de notas ordenadas, a menudo en orden ascendente o descendente según el tono, que pertenece a una cierta [clave](glossary://key) y normalmente dentro de una sola [octava](glossary://octave).</string>
				<key>Title</key>
				<string>Escala</string>
			</dict>
		</dict>
		<key>simpleTest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Conectar</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Para revisar que todo esté bien con tu Skoog, sigue estos simples pasos:

1. Presiona el botón superior de tu Skoog. Se escuchará un sonido en tu iPad y verás que el círculo en tu pantalla se vuelve naranja.
2. Presiona los otros botones de Skoog uno a la vez, sosteniendo el Skoog por la base para evitar presionar dos botones a la vez. El color del círculo debería coincidir con cada botón que presiones.

Si tu Skoog se comporta de forma inesperada o si emite sonidos cuando no lo estás tocando, **simplemente toca el círculo en la visualización en vivo para [calibrarlo](glossary://calibrate).**</string>
				<key>Title</key>
				<string>Prueba simple</string>
			</dict>
		</dict>
		<key>soundStyles</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page5_MeetTheBand.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>¿Cuál es mi sonido?</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Estilos de sonido disponibles:

`.acid`, `.afromallet`, `.candybee`, `.elecpiano`, `.jharp`, `.electrhode`, `.fmModulator`, `.minimogo`, `.ocarina`, `.nylonguitar`, `.solarwind`, `.timpani`, `.gamelan`, `.strat`, `.marimba`, `.vibraphone`.</string>
				<key>Title</key>
				<string>Estilos de sonido</string>
			</dict>
		</dict>
		<key>string</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Una cadena es una serie de caracteres, tal como “Skoog”.</string>
				<key>Title</key>
				<string>Cadena</string>
			</dict>
		</dict>
		<key>threshold</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page3_SetThresholds.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Cambiando la respuesta</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>En programación, los umbrales se usan para cambiar cómo un programa responde a datos nuevos. Usualmente se usará un conjunto de comportamientos si un valor es menor que un umbral, y se usará otro si es mayor.</string>
				<key>Title</key>
				<string>Umbral</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
