<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>alpha</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>イメージまたは形状の“アルファ”は、透明度を決めるプロパティです。アルファ値を0.0にすると完全に透明になり（見えなくなります）、1.0にすると完全に不透明になります（表示されます）。その間の値を指定すると、イメージや形状が透けて見えるようになります。</string>
				<key>Title</key>
				<string>アルファ</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の動作を変えるために関数に指定する入力値。たとえば、`move(distance: 3)`という関数呼び出しでは、`3`という引数で、何マス移動するかを指定しています。</string>
				<key>Title</key>
				<string>引数</string>
			</dict>
		</dict>
		<key>calibrate</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>接続する</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Skoogは自動的に調整されますが、触られていないというのがどのような状態なのかをときに思い出させる必要があります。
ボタンをぽんと押していないのにSkoogから音が出るときは、 **ライブビューでSkoogの丸またはグラフをタップして調整してください** 。</string>
				<key>Title</key>
				<string>調整</string>
			</dict>
		</dict>
		<key>connect</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>接続する</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>![ボタンのイメージ?](PressButton.png)
1. Skoogの底面の小さなボタンを探し、1回押して電源を入れます。緑のランプが点灯します。
2. 同じボタンをもう一度ぽんと押してBluetoothをオンにします。青のランプが点滅し始めます。
3. Skoogを平らな面に起きます。
4. リストでSkoogを見つけ、タップしてペアリングします。 **この間Skoogには触れないでください。**
5. 画面の右上にSkoogのアイコンが表示されます。これでSkoogの準備完了です!

**注意:** プレイグラウンドに接続する前に、必ずSkoog Appを閉じておいてください!</string>
				<key>Title</key>
				<string>Skoogに接続する方法</string>
			</dict>
		</dict>
		<key>eventHandler</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page2_HandlingSkoog.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Skoogを操作する</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>イベントハンドラは、プログラム内に送信されてくる入力（イベント）を処理する関数です。</string>
				<key>Title</key>
				<string>イベントハンドラ</string>
			</dict>
		</dict>
		<key>key</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>それぞれの曲にはキーがあります。キーは、音楽との関係で適切に響く音のセットを定義するものです。</string>
				<key>Title</key>
				<string>キー</string>
			</dict>
		</dict>
		<key>midiNumber</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>正しい音を鳴らす</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>MIDI番号は、下の図に示すように[音符](glossary://note)に対応する0〜127の番号です。MIDI番号60は中央のC、つまりC3（グレイで表示されています）に対応します。
![MIDInoteのイメージ?](midiNotes.png)</string>
				<key>Title</key>
				<string>MIDI番号</string>
			</dict>
		</dict>
		<key>note</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>正しい音を鳴らす</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>音符は、認識できるピッチ（高さ）のサウンドです。下の図に示すように、C、C♯、D、E♭、E、F、F♯、G、G♯、A、B♭、Bと呼ばれます。![キーボードのイメージ?](keyboard.png)</string>
				<key>Title</key>
				<string>音符</string>
			</dict>
		</dict>
		<key>octave</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>1つの音程と、周波数が半分または2倍である別の音程の間隔です。1オクターブ離れた2つの音は、MIDI番号が12離れていて、名前のアルファベットは同じです。たとえば、A4はA3の1オクターブ上、A5の1オクターブ下です。</string>
				<key>Title</key>
				<string>オクターブ</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の定義で使われる、関数に指定する入力値の名前。たとえば、関数`move(distance: Int)`では、`distance`（距離）が、`Int`型の値を受け取るパラメータになります。</string>
				<key>Title</key>
				<string>パラメータ</string>
			</dict>
		</dict>
		<key>scale</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の[キー](glossary://key)に属する音の順序付きセット。通常は1[オクターブ](glossary://octave)内の音で構成され、多くの場合ピッチの昇順または降順で並べられます。</string>
				<key>Title</key>
				<string>音階</string>
			</dict>
		</dict>
		<key>simpleTest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>接続する</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Skoogに何も問題がないことを確認するには、以下の簡単な手順を実行します:

1. Skoogの上部のボタンをぽんと押します。iPadから音が聞こえ、画面上のサークルがオレンジ色になります。
2. Skoogの残りのボタンを一度に1つずつぽんと押します。同時に2つのボタンをぽんと押さないように、Skoogの底面を持ってください。丸の色が、ぽんと押した各ボタンの色と同じになります。

Skoogが期待通りに動作しないか、触っていないときに音が出る場合は、 **ライブビューでサークルをタップしてSkoogを[調整](glossary://calibrate)してください。**</string>
				<key>Title</key>
				<string>簡単なテスト</string>
			</dict>
		</dict>
		<key>soundStyles</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page5_MeetTheBand.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>どんなサウンドがありますか?</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>利用可能なサウンドスタイル:

`.acid`, `.afromallet`, `.candybee`, `.elecpiano`, `.jharp`, `.electrhode`, `.fmModulator`, `.minimogo`, `.ocarina`, `.nylonguitar`, `.solarwind`, `.timpani`, `.gamelan`, `.strat`, `.marimba`, `.vibraphone`.</string>
				<key>Title</key>
				<string>サウンドスタイル</string>
			</dict>
		</dict>
		<key>string</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>文字列は、“Skoog”のように文字が連なったものです。</string>
				<key>Title</key>
				<string>文字列</string>
			</dict>
		</dict>
		<key>threshold</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page3_SetThresholds.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>反応を変更する</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コーディングでは、新しいデータに対するプログラムの反応を変えるためにしきい値が使用されます。通常、値がしきい値より低いときに動作の1つのセット、しきい値より高いときに別のセットが使用されます。</string>
				<key>Title</key>
				<string>しきい値</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
