<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>黄色、緑、オレンジの面のコードを追加します</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>`grow(value: side.rawValue)`や`alpha(value: side.rawValue)`を使用します</string>
				<key>SpoilerButtonTitle</key>
				<string>答えを表示</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
