<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>alpha</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>L’« Alpha » d’une image ou d’une figure est une propriété qui détermine son degré de transparence. Une valeur Alpha de 0,0 correspond à une transparence totale (c.-à-d. invisible) et une valeur de 1,0 correspond à une opacité totale (c.-à-d. visible). Les valeurs comprises entre celles-ci te permettront de voir à travers l’image ou la figure.</string>
				<key>Title</key>
				<string>Alpha</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Une valeur d’entrée transmise à une fonction pour personnaliser son comportement. Par exemple, dans l’appel à la fonction `move(distance: 3)`, `3` est un argument qui indique de combien d’espaces se déplacer.</string>
				<key>Title</key>
				<string>Argument</string>
			</dict>
		</dict>
		<key>calibrate</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Se connecter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>L’étalonnage de ton Skoog se fait tout seul. Mais, parfois, il aime bien se souvenir de ce que ça fait quand personne ne le touche.
Si ton Skoog émet des sons lorsque tu n’appuies sur aucun bouton, **touche simplement à l’intérieur du cercle ou du graphique du Skoog dans la vue en direct pour effectuer l’étalonnage**.</string>
				<key>Title</key>
				<string>Étalonner</string>
			</dict>
		</dict>
		<key>connect</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Se connecter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>![Button Image?](PressButton.png)
1. Trouve le petit bouton qui se trouve sur la base de ton Skoog et appuie une fois dessus pour l’allumer. Le voyant vert s’allumera.
2. Active le Bluetooth en appuyant une deuxième fois sur le bouton. Le voyant bleu se mettra à clignoter.
3. Place ton Skoog sur une surface plane.
4. Trouve ton Skoog dans la liste et touche son nom pour le jumeler. **Ne touche pas ton Skoog pendant cette opération.**
5. Une icône Skoog s’affichera en haut à droite de ton écran. Te voilà prêt à skooger !

**REMARQUE :** Assure-toi d’éteindre l’app Skoog avant de te connecter au playground.</string>
				<key>Title</key>
				<string>Comment connecter ton Skoog</string>
			</dict>
		</dict>
		<key>eventHandler</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page2_HandlingSkoog.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Manipulation de ton Skoog</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un gestionnaire d’événement est une fonction qui gère les entrées (événements) reçues dans un programme.</string>
				<key>Title</key>
				<string>Gestionnaire d’événements</string>
			</dict>
		</dict>
		<key>key</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Chaque morceau possède une clé. Elle définit l’ensemble de notes qui sera en harmonie avec la musique.</string>
				<key>Title</key>
				<string>Touche</string>
			</dict>
		</dict>
		<key>midiNumber</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Trouver les bonnes notes</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Un numéro MIDI est un nombre compris entre 0 et 127 correspondant à une [note musicale](glossary://note), tel qu’indiqué dans le graphique ci-dessous. Le numéro MIDI 60 correspond au Do central, ou Do3 (affiché en gris).

![MIDInote Image?](midiNotes.png)</string>
				<key>Title</key>
				<string>Numéro MIDI</string>
			</dict>
		</dict>
		<key>note</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Trouver les bonnes notes</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Une note musicale est un son avec une tonalité reconnaissable. Dans la musique occidentale, les notes sont appelées Do, Do♯, Ré, Mi♭, Mi, Fa, Fa♯, Sol, Sol♯, La, Si♭, Si (en anglais, C, C♯, D, E♭, E, F, F♯, G, G♯, A, B♭, B), comme tu peux le voir dans le diagramme ci-dessous.

![keyboard Image?](keyboard.png)</string>
				<key>Title</key>
				<string>Note de musique</string>
			</dict>
		</dict>
		<key>octave</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>L’intervalle entre une tonalité musicale et une autre qui fait la moitié ou le double de sa fréquence. Deux notes séparées par une octave sont à 12 numéros MIDI l’une de l’autre et sont définies par la même lettre. Par exemple, La4 se situe une octave au-dessus de La3 et une en dessous de La5.</string>
				<key>Title</key>
				<string>Octave</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Le nom d’une valeur d’entrée pour une fonction, utilisée dans la définition de cette dernière. Par exemple, dans la fonction `move(distance: Int)`, `distance` est un paramètre qui prend une valeur de type `Int`.</string>
				<key>Title</key>
				<string>Paramètre</string>
			</dict>
		</dict>
		<key>scale</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ensemble de notes ordonné, souvent dans un ordre croissant ou décroissant selon la tonalité. Il suit une [clé](glossary://key) spécifique et se situe généralement au sein d’une seule [octave](glossary://octave).</string>
				<key>Title</key>
				<string>Gamme</string>
			</dict>
		</dict>
		<key>simpleTest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Se connecter</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Pour vérifier que tout est en ordre avec ton Skoog, effectue ces opérations simples :

1. Appuie sur le bouton situé sur le dessus de ton Skoog. Un son doit sortir de ton iPad et le cercle situé sur ton écran doit devenir orange.
2. Appuie sur les autres boutons de Skoog l’un après l’autre, en le tenant la base pour éviter d’appuyer sur deux boutons à la fois. La couleur du cercle doit correspondre à chaque bouton sur lequel tu appuies.

Si ton Skoog se comporte de façon étrange ou qu’il émet des sons quand tu ne le touches pas, **touche simplement le cercle dans la Vue en direct pour l’[étalonner](glossary://calibrate).**</string>
				<key>Title</key>
				<string>Test simple</string>
			</dict>
		</dict>
		<key>soundStyles</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page5_MeetTheBand.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Quel son me correspond ?</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Styles de son disponibles :

`.acid`, `.afromallet`, `.candybee`, `.elecpiano`, `.jharp`, `.electrhode`, `.fmModulator`, `.minimogo`, `.ocarina`, `.nylonguitar`, `.solarwind`, `.timpani`, `.gamelan`, `.strat`, `.marimba`, `.vibraphone`.</string>
				<key>Title</key>
				<string>Styles de son</string>
			</dict>
		</dict>
		<key>string</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Une chaîne est une suite de caractères, comme « Skoog » par exemple.</string>
				<key>Title</key>
				<string>Chaîne</string>
			</dict>
		</dict>
		<key>threshold</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page3_SetThresholds.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Modification de la réponse</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dans le monde du codage, les seuils servent à modifier la façon dont un programme répond à de nouvelles données. On utilise généralement un ensemble de comportements si une valeur se situe en dessous d’un seuil, et un autre si elle se situe au-dessus.</string>
				<key>Title</key>
				<string>Seuil</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
