<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>为黄色、绿色和橙色面添加代码</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>使用 `grow(value: side.rawValue)` 或 `alpha(value: side.rawValue)`</string>
				<key>SpoilerButtonTitle</key>
				<string>显示干扰器</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
