<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Add code for the yellow, green and orange sides</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>SpoilerButtonTitle</key>
				<string>Show Spoiler</string>
				<key>Content</key>
				<string>Use `grow(value: side.rawValue)` or `alpha(value: side.rawValue)`</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
