<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>alpha</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Der Alpha-Wert eines Bilds oder einer Form ist die Eigenschaft, die die Transparenz festlegt. Ein Alpha-Wert von 0.0 entspricht vollständiger Transparenz (unsichtbar) und ein Wert von 1.0 entspricht vollständiger Deckkraft (sichtbar). Bei den Werten dazwischen kannst du durch das Bild oder die Form hindurchblicken.</string>
				<key>Title</key>
				<string>Alpha</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ein Eingabewert, der einer Funktion übergeben wird, um ihr Verhalten anzupassen. In der Funktion `move(distance: 3)` ist zum Beispiel `3` ein Argument, das angibt, wie viele Felder sich der Charakter bewegen soll.</string>
				<key>Title</key>
				<string>Argument</string>
			</dict>
		</dict>
		<key>calibrate</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Verbinden</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Dein Skoog kalibriert sich automatisch selbst, aber manchmal musst du ihn daran erinnern, wie es ist, nicht berührt zu werden.
Wenn dein Skoog Töne von sich gibt, ohne dass du Tasten drückst, **tippe einfach auf den Skoog-Kreis oder Graph in der Liveansicht, um ihn zu kalibrieren**.</string>
				<key>Title</key>
				<string>Kalibrieren</string>
			</dict>
		</dict>
		<key>connect</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Verbinden</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>![Bild der Taste?](PressButton.png)
1. Finde die kleine Taste unten an deinem Skoog und drücke sei einmal, um ihn einzuschalten. Das grüne Licht leuchtet auf.
2. Aktiviere Bluetooth, indem du ein zweites Mal auf die Taste drückst. Das blaue Licht beginnt zu blinken.
3. Stelle deinen Skoog auf eine flache Oberfläche.
4. Suche deinen Skoog in der Liste und tippe auf ihn, um ihn zu koppeln. **Berühre den Skoog währenddessen nicht.**
5. Ein Skoog-Symbol erscheint oben rechts auf dem Bildschirm. Du kannst jetzt loslegen!

**Hinweis:** Achte darauf, die Skoog-App zu schließen, bevor du dich mit Playground verbindest.</string>
				<key>Title</key>
				<string>So stellst du eine Verbindung zum Skoog her</string>
			</dict>
		</dict>
		<key>eventHandler</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page2_HandlingSkoog.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Deinen Skoog verwenden</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ein Ereignishandler ist eine Funktion, die die Eingaben (Ereignisse) verarbeitet, die ein Programm erhält.</string>
				<key>Title</key>
				<string>Ereignishandler</string>
			</dict>
		</dict>
		<key>key</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Jedes Lied besitzt eine Tonart, die die Noten festlegt, die bei dieser Musik gut klingen.</string>
				<key>Title</key>
				<string>Tonart</string>
			</dict>
		</dict>
		<key>midiNumber</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Die richtigen Töne treffen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Eine MIDI-Nummer ist eine Zahl von 0 bis 127, die einer [Musiknote](glossary://note) entspricht, wie in der untenstehenden Tabelle dargestellt. Die MIDI-Nummer 60 entspricht einem C (grau angezeigt).
![MIDInote Bild?](midiNotes.png)</string>
				<key>Title</key>
				<string>MIDI-Nummer</string>
			</dict>
		</dict>
		<key>note</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Die richtigen Töne treffen</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Eine Musiknote ist ein Ton mit erkennbarer Tonhöhe. Die Noten in der westlichen Musik heißen C, Cis, D, Es, E, F, Fis, G, Gis, A, B, H wie im untenstehenden Diagramm dargestellt. ![Keyboard-Bild?](keyboard.png)</string>
				<key>Title</key>
				<string>Musiknote</string>
			</dict>
		</dict>
		<key>octave</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Das Intervall zwischen zwei Tönen, bei denen einer die doppelte Tonhöhe des anderen hat. Zwei Noten, die eine Oktave auseinander liegen, trennen 12 MIDI-Nummern und sie haben denselben Buchstaben als Namen. Zum Beispiel ist A4 eine Oktave höher als A3 und eine Oktave tiefer als A5.</string>
				<key>Title</key>
				<string>Oktave</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Der Name eines Eingabewertes einer Funktion, der in der Definition der Funktion verwendet wird. Zum Beispiel ist `distance` in der Funktion `move(distance: Int)` ein Parameter, der einen Wert des Typs `Int` erfordert.</string>
				<key>Title</key>
				<string>Parameter</string>
			</dict>
		</dict>
		<key>scale</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Eine geordnete Notenreihe, oft au- oder absteigend nach Tonhöhe geordnet, die zu einer bestimmten [Tonart](glossary://key) und normalerweise zu einer bestimmten [Oktave](glossary://octave) gehören.</string>
				<key>Title</key>
				<string>Skala</string>
			</dict>
		</dict>
		<key>simpleTest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Verbinden</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Du kannst diesen einfachen Schritten folgen, um sicherzustellen, dass mit deinem Skoog alles in Ordnung ist:

1. Drücke den Knopf oben auf deinem Skoog. Du solltest einen Ton von deinem iPad hören und sehen, wie der Kreis auf deinem Bildschirm orange wird.
2. Drücke nacheinander die anderen Tasten auf deinem Skoog und halte ihn dabei unten fest, damit du nicht versehentlich mehrere Tasten auf einmal drückst. Die Farbe des Kreises sollte der gedrückten Taste entsprechen.

Wenn sich dein Skoog anders verhält als erwartet oder Töne von sich gibt, ohne dass du ihn berührst, **tippe einfach auf den Kreis in der Liveansicht, um deinen Skoog zu [kalibrieren](glossary://calibrate).**</string>
				<key>Title</key>
				<string>Einfacher Test</string>
			</dict>
		</dict>
		<key>soundStyles</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page5_MeetTheBand.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Was ist mein Sound?</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Verfügbare Soundstile:

`.acid`, `.afromallet`, `.candybee`, `.elecpiano`, `.jharp`, `.electrhode`, `.fmModulator`, `.minimogo`, `.ocarina`, `.nylonguitar`, `.solarwind`, `.timpani`, `.gamelan`, `.strat`, `.marimba`, `.vibraphone`.</string>
				<key>Title</key>
				<string>Soundstile</string>
			</dict>
		</dict>
		<key>string</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Ein String ist eine Reihe von Zeichen, zum Beispiel „Skoog“.</string>
				<key>Title</key>
				<string>String</string>
			</dict>
		</dict>
		<key>threshold</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page3_SetThresholds.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Die Reaktion ändern</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Beim Programmieren werden Schwellenwerte verwendet, um zu ändern, wie ein Programm auf neue Daten reagiert. Im Normalfall gibt es Verhaltensweisen für den Fall, dass der Schwellenwert überschritten wird, und andere Verhaltensweisen, wenn er unterschritten wird.</string>
				<key>Title</key>
				<string>Schwellenwert</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
