<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>alpha</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>The &quot;Alpha&quot; of an image or shape is a property that determines its transparency. An alpha value of 0.0 corresponds to full transparency (i.e. invisible) and a value of 1.0 is fully opaque (i.e. visible). In-between values will allow you to see through the image or shape.</string>
				<key>Title</key>
				<string>Alpha</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>An input value passed into a function to customize its behavior. For example, in the function call `move(distance: 3)`, `3` is an argument that specifies how many spaces to move.</string>
				<key>Title</key>
				<string>Argument</string>
			</dict>
		</dict>
		<key>calibrate</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Get Connected</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Your Skoog automatically calibrates itself, but sometimes it needs to be reminded about what it feels like not to be touched.
If your Skoog makes sounds when you’re not pressing buttons, **simply tap in the Skoog circle or graph in the liveView to calibrate**.</string>
				<key>Title</key>
				<string>Calibrate</string>
			</dict>
		</dict>
		<key>connect</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Get Connected</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>![Button Image?](PressButton.png)
1. Find the small button on the base of your Skoog and press it once to switch it on; the green light will illuminate.
2. Activate Bluetooth by pressing the button a second time; the blue light will start flashing.
3. Place your Skoog on a flat surface.
4. Find your Skoog in the list and tap to pair it. **Do not touch your Skoog during this process.**
5. A Skoog icon will appear at the top right of the screen. You are ready to skoog!

**NOTE:** Make sure you shut down the Skoog app before connecting to the playground.</string>
				<key>Title</key>
				<string>How to connect your Skoog</string>
			</dict>
		</dict>
		<key>eventHandler</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page2_HandlingSkoog.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Handling your Skoog</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>An event handler is a function that handles inputs (events) received into a program.</string>
				<key>Title</key>
				<string>Event Handler</string>
			</dict>
		</dict>
		<key>key</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Each song has a key which defines the set of notes that will sound good in relation to the music.</string>
				<key>Title</key>
				<string>Key</string>
			</dict>
		</dict>
		<key>midiNumber</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Hitting the Right Notes</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>A MIDI number is a number between 0 and 127 that corresponds to a [musical note](glossary://note) as shown in the chart below. MIDI number 60 corresponds to middle C, or C3 (shown in grey).
![MIDInote Image?](midiNotes.png)</string>
				<key>Title</key>
				<string>MIDI Number</string>
			</dict>
		</dict>
		<key>note</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page7_RightNotes.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Hitting the Right Notes</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>A musical note is a sound with a recognizable pitch. Notes in western music are called C, C♯, D, E♭, E, F, F♯, G, G♯, A, B♭, B as shown in the diagram below. ![keyboard Image?](keyboard.png)</string>
				<key>Title</key>
				<string>Musical Note</string>
			</dict>
		</dict>
		<key>octave</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>The interval between one musical pitch and another with either half or double its frequency. Two notes separated by an octave are 12 MIDI numbers apart and have the same letter name. For example, A4 is one octave higher than A3 and one octave lower than A5.</string>
				<key>Title</key>
				<string>Octave</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>The name of an input value to a function, used in the definition of the function. For example, in the function `move(distance: Int)`, `distance` is a parameter that takes a value of type `Int`.</string>
				<key>Title</key>
				<string>Parameter</string>
			</dict>
		</dict>
		<key>scale</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>An ordered set of notes, often in increasing or decreasing order according to pitch, that belong to a certain [key](glossary://key) and normally within a single [octave](glossary://octave).</string>
				<key>Title</key>
				<string>Scale</string>
			</dict>
		</dict>
		<key>simpleTest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page1_Connect.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Get Connected</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>To check everything is ok with your Skoog, follow these simple steps:

1. Press your Skoog’s top button. You should hear a sound from your iPad and see the circle on your screen turn orange.
2. Press the other buttons on your Skoog one at a time, holding the Skoog by the base to avoid pressing two buttons at once. The circle color should match each button you press.

If your Skoog behaves unexpectedly or if it makes sounds when you are not touching it, **simply tap on the circle in the Live View to [calibrate](glossary://calibrate) your Skoog.**</string>
				<key>Title</key>
				<string>Simple Test</string>
			</dict>
		</dict>
		<key>soundStyles</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page5_MeetTheBand.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>What&apos;s my Sound?</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Available sound styles:

`.acid`, `.afromallet`, `.candybee`, `.elecpiano`, `.jharp`, `.electrhode`, `.fmModulator`, `.minimogo`, `.ocarina`, `.nylonguitar`, `.solarwind`, `.timpani`, `.gamelan`, `.strat`, `.marimba`, `.vibraphone`.</string>
				<key>Title</key>
				<string>Sound Styles</string>
			</dict>
		</dict>
		<key>string</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string></string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>A string is a series of characters, such as “Skoog”.</string>
				<key>Title</key>
				<string>String</string>
			</dict>
		</dict>
		<key>threshold</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1_Basic.playgroundchapter/Page3_SetThresholds.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>Changing the Response</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>In coding, thresholds are used to change how a program responds to new data. Typically one set of behaviors will be used if a value is below a threshold, and another if above.</string>
				<key>Title</key>
				<string>Threshold</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
